 
/* --- Beginning of Reset --- */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

 html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ------------------- */
/* --- After Reset --- */
/* ------------------- */

/* Keeps sizing properties within the border box throughout the project  */
* {
    box-sizing: border-box;
}

/* Makes the BG color of of body red, 1rem of padding on the bottom and sets font family for all text */
/* --- Never set sizes in the body --- */
body {
    background-color: #91230d;
    padding-bottom: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

/* Changes line height and adds margin on the bottom to space out paragraphs */
p {
    margin-bottom: 1.5rem;
    line-height: 1.4;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

/* Set's width of the main content of the website to 1000px and centers it on the page with margin: 0 auto. */ 
/* The background command gets rid of the annoying line between the navbar and header */
.container {
    width: 1000px;
    margin: 0 auto;
    background-color: black;
}

/* Position relative sets it so that any child element w/ position: absolute; (in this case, the heading text) will be contained within the size of the "relative" container */
header {
    position: relative;
}

#zed-wide {
    width: 100%;
    height: 35rem;
}

/* Position is absolute to the header. So it fits within the header since it has the position relative tag*/
.mainh1 {
    position: absolute;
    left: 20%;
    font-size: 3em;
    top: 17rem;
    color:gold;
}

/* Controls all h2 tags in the file to be double rem */
h2 {
    font-size: 2rem;
}

nav {
    background-color: black;
}

nav ul {
    list-style: none;
}

/* Display's the li elements in a line and centers them */
/*  */
nav li {
    display: inline-block;
    width: 33%;
    line-height: 3;
    text-align: center;
    border-right: 3px solid #91230d;
}

/* Targets 3rd link (CONTACT) and removes the right border  */
nav li:nth-child(3) {
    border-right: 0;
}

nav li a {
    display: block;
    text-decoration: none;
    font-size: 1.2rem;
}

/* Sets it so that when one of the navbar links is clicked to move elswhere on the page, the text color doesnt change as its not actually linking to something else */
.nav a:visited {
    text-decoration: none;
    color: gold; 
}

/* Sets styling for most of the main content on the page */
article { 
    font-size: 1.2rem;
    line-height: 1.5rem;
    padding: 1rem;
    background-color: black;
    color: gold;
    width: 100%;
    margin: 0 auto;
  
}
/* Creates 1rem of margin underneath the "Zed Description" h2 tag */
#zedh2 {
    margin-bottom: 1rem;
}

/* Sets size, float and margin to the small image */
#zed-small {
    float: left;
    width: 250px;
    height: 400px;
    margin-right: 1rem;
}

/* Creates 1rem of margin below the "Facts about Zed" h2 tag */
.fact-table h2{
    margin-bottom: 1rem;
}

/* Creates 2rem of margin left of the undordered list to give it some space in the page  */
.facts {
    margin-left: 2rem;
}

/* Creates 1rem of margin around the "Contact to learn more" heading */
.contact-h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.contact h3 {
    margin-bottom: 1rem;
}

/* Creates a small border around contanct forms and adds padding around the edges */
.contact {
    border: 2px solid #91230d;
    padding: 2rem 1rem 1rem 1rem;
}

form {
    display: block;
}

/* Sets some margin underneath every  */
form div {
    margin-bottom: 1.5rem;
}

/* Changes width of the input boxes for "Your Name" & "Your email */
#name, #email {
    width: 100%; 
}

/* Changes width & height for the message textarea */
textarea {
    width: 100%;
    height: 10rem;
}

/* Styles the send button at the bottoms of the contact section of the page */
.sendbutton a {
    text-decoration: none;
    border: 2px solid gold;
    width: 100%;
    color: #91230d;
    padding: .5rem;
}

/* When the contact button is hovered, it will be gold instead of black */
.sendbutton a:hover {
    background-color: gold;
}

/* Keeps the font color the same after clicking on the button */
.sendbutton a:visited {
    color: #91230d;
}

/* Sets styling for the footer */
footer  {
    background-color: black;
    color:#91230d;
    font-size: 0.8rem;
    text-align: right;
    padding-top: 1rem;
    
}

/* Makes it so that any class with the additional class name "clearfix" will be cleared after the element. */
/* Only use when the element is being floated */
.clearfix:after {
    content: "";
    display: block;        
    clear: both;
} 

