 
/* --- Beginning of Reset --- */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

 html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ------------------- */
/* --- After Reset --- */
/* ------------------- */

* {
    box-sizing: border-box;
}

/* Makes the BG color of of body red */
body {
    position: absolute;
    background-color: #91230d;
    margin-right: 20rem;
    margin-left: 20rem;
    padding-bottom: 1rem;
}


.container {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%; 
}

#zed-wide {
    width: 100%;
}


.mainh1 {
    font-size: 4em;
    color:gold;
    top: 20rem;
    position: absolute;
    text-align: center;
    width:100%
}

/* Controls all h2 tags in the file to be double rem */
h2 {
    font-size: 2rem;
}
.nav ul {
    list-style: none;
}

.nav li {
    display: inline;
}

.nav a {
    float:left;
    text-align: center;
    font-size: 1.5rem;
    text-decoration: none;
    border-right: 3px solid #91230d;
    width:33.3%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.nav a:visited {
    text-decoration: none;
    color: gold; 
}

/* Creates main wrapper where the content of the site will be held. */
article { 
    font-size: 1.2rem;
    line-height: 1.5rem;
    padding: 1rem;
    background-color: black;
    color: gold;
    width: 100%;
  
}
/* Creates 1rem of margin underneath the "Zed Description" h2 tag */
#zedh2 {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

/* Makes the main paragraphs of text float to the left of the image and gives the image 1rem of margin to the right & below so the text isn't glued to the picture */
#zed-small {
    float: left;
    margin-right: 1rem;
}

/* Creates 1rem of margin ontop and below the "Facts about Zed" h2 tag */
.fact-table h2{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* Creates 2rem of margin left of the undordered list to give it some space in the page  */
.facts {
    margin-left: 2rem;
}

/* Creates  */
.contact-h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.contact h3 {
    margin-bottom: 1rem;
}

/* Creates a small border around contanct forms */
.contact {
    border: 2px solid #91230d;
    padding: 2rem 1rem 2rem 1rem;
}

form {
    display: block;
}

/* Changes margin & width of the input boxes for "Your Name" & "Your email */
#name, #email {
    margin-bottom: 1rem;
    width: 100%; 
}

/* Changes margin, width & height for the message textarea */
textarea {
    margin-bottom: 1rem;
    width: 100%;
    height: 10rem;
}

.radiobutton h3 {
    margin-bottom: 1rem;
}

.radiobutton {
    margin-bottom: 1rem;
}

.sendbutton a {
    text-decoration: none;
    border: 2px solid gold;
    color:#91230d;
    padding: .5rem;
    margin: 1rem;
}

.sendbutton a:hover {
    background-color: gold;
}

footer  {
    background-color: black;
    color:#91230d;
    font-size: 0.8rem;
    text-align: right;
    padding-top: 1rem;
    
}

.clearfix:before {
    content: "";
    display: block;        
    clear: both;
} 

