/* Always have this in css pages */
* {
    box-sizing: border-box;
} 

body {
    background-color: black;
}

/* makes the content centered and creates the sidelines that will be a different color then the writing */
.wrapper {
    max-width: 800px;
    margin: auto;
    background-color:cornflowerblue;
}

nav {
    background-color: aqua;
    display: inline;
    position:fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9;
}

body {
    margin-top: 100px;
}

/* display: inline-block makes all properties work at the block level when they normally can't (like width/height etc...) */
nav ul li {
    display: inline;
}

nav ul li a {
    background-color: green;
    padding: 10px;
}

.box {
    color: white;
    width: 100px;
    background-color: blueviolet;
    padding: 10px;
    border: 5px dashed greenyellow;
    /*0 0 0 0 = top right bottom left. the positions of the values goes clockwise starting north*/
    margin: 0 auto 0 auto; 
    text-align: center;
    box-sizing: border-box;
}

.float {
    /* float: left; */
    width: 25%;
    margin: 5px;
}

/* Important for clearing image floats and navigation floats, and clearfix class to any section of code (like <div class="article clearfix"> to have this segment of code work on that div and it will clear any floats you've used.) */
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.stage {
    height: 600px;
    background-color: aqua;
}

.prop {

}