/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ------------------------ */
/* ----- END OF RESET ----- */
/* ------------------------ */

/* Includes padding/border in the elements total width and height */
* {
    box-sizing: border-box;
}

/* sets all font on the main body of the site to 'Open Sans' */
body {
    font-family: 'Open Sans', sans-serif;
}

p {
    font-weight: 500;
    line-height: 1.5rem;
}

h1 { 
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

h2 { 
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem 0 1rem 0;
}

h3 { 
    font-size: 1rem;
    font-weight: bold;
    padding-left: 1rem;
    
}

/* sets max width, centers & adds 1rem of padding to any class with 'container' in it, this is to keep the content of the site lined up and centered on the site */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

.container > h1 {
    margin-top: 1rem;
}

/* Sets font colors to all sections in the html to black */
section {
    color: black; 
}

section p { 
    padding: 0 1rem 2rem 1rem;
}

section h2 {
    padding-left: 1rem;
    padding-top: 1rem;

}

section a {
    font-size: 1.3rem;
    margin-left: 1rem;
}

section a > i {
    font-size: 2rem;
    margin-left: .5rem;
}

/* Sets all fonts to inside article tags to white and adds 1 rem of padding around article tags */
article {
    color: white;
    padding: 1rem;
}

article p {
    line-height: 1.3rem;
    padding-bottom: 1rem;
}

article a {
    font-size: 1.3rem;
}

a:link {
    color: #c78c06;
    text-decoration: none;
}

a:visited {
    color: #c78c06;
    text-decoration: none;
}

a:hover {
    color: purple;
    text-decoration: none;
}

header {
    background-color:#222;
    padding: 1rem 1rem 0 1rem;
}

.headerimage {
    background-color: #c78c06;
}

/* adds flexbox to navbar menu and displays them in a column and centers content in mobile view */
.menu {
    background-color: #222;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
}

.menu ul {
    width: 100%;
}

.menu ul li {
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.menu ul li.active,
.menu ul li:hover {
    background-color: #c78c06;
    width: 100%;
}

.menu ul li.active a,
.menu ul li:hover a {
    color: black;
}

.menu ul li.active a {
    font-weight: bold;
}

.searchbar {
    width: 100%;
    padding-bottom: 1rem;
}

#search {
    height: 2.5rem; 
    width: calc(100% - 50px);
}

/* Styling for the search button next tot he searchbar in the nav menu */
.searchbutton {
    border: 1px solid #c78c06;
    width: 50px;
    text-align: center;
    align-items: center;
    padding: .7rem; 
    float: right;
}

/* sets background image for the welcome page */
.welcome {
    background-image: url(../images/main-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5rem 0 5rem 0;
}

/* Creates a slightly transparent black box behind the welcome text under the nav bar */
.welcome-info {
    width: 100%;
    background: rgba(34,34,34,0.84);
    padding: 4rem 1rem 4rem 1rem;
}

.welcome-info > p {
    margin-bottom: 2rem;
}

.welcome-info > h1 {
    line-height: 7rem;
    font-size: 5rem;

}

/* styles the "connect with us" button under welcome information */
.welcome-info a {
    color: black;
    background-color: #c78c06;
    padding: 2rem;
    font-size: 1.3rem;
}

.welcome-info a i {
    font-size: 1.5rem;
    margin-left: .5rem;
}

.about-us {
    background-color: #ffe6ac;
    color: black;
}

#about-us {
    width: 100%;
    margin-bottom: 1rem;
}

.digital-transformation {
    background-color: #ffe6ac;
    padding-bottom: 3rem;
}

#digital {
    width: 100%;
}

.digital-transformation > a {
    background-color:#222;
    color: white;
    padding: 2rem;
    margin-right: 1rem;
}

.marketing {
    background-color: #ffe6ac;
    margin-top: 1rem;
    padding-bottom: 3rem;
}

#marketing {
    width: 100%;
}

.marketing > a {
    background-color:#222;
    color: white;
    padding: 2rem;
    margin-right: 1rem;
}

.video-production {
    background-color: #ffe6ac;
    margin-top: 1rem;
    padding-bottom: 3rem;
}

#video {
    width: 100%;
}

.video-production > a {
    background-color:#222;
    color: white;
    padding: 2rem;
    margin-right: 1rem;
}

.web-development {
    background-color: #ffe6ac;
    margin-top: 1rem;
    padding-bottom: 3rem;
}

#web {
    width: 100%;
}

.web-development > a {
    background-color:#222;
    color: white;
    padding: 2rem;
    margin-right: 1rem;
}

.print {
    background-color: #ffe6ac;
    margin-top: 1rem;
    padding-bottom: 3rem;
}

#print {
    width: 100%;
}

.print > a {
    background-color:#222;
    color: white;
    padding: 2rem;
    margin-right: 1rem;
}

/* sets background image for "our-vision" article and adds padding to the bottom */
.vision {
    background-image: url(../images/vision.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 3rem;
}

/* Styles the "Learn more" button in the "our-vision" article */
.vision .container > a {
    background-color: rgba(22, 22, 22, 0.7);
    border: 1px solid #c78c06;
    color: white;
    padding: 2rem;
}

.vision .container > p {
    margin-bottom: 2rem;
    line-height: 1.5rem;
}

.vision > a > i {
    font-size: 2rem;
    margin-left: .5rem;
}

#team {
    margin-top: 1rem;
}

.john-doe {
    background-color: #ffe6ac;
}

.bob-rite {
    background-color: #ffe6ac;
    margin-top: 1rem;
}

#john {
    width: 100%;
}

#bob {
    width: 100%;
}

/* Styles the horizontal lines in the info sections of "our-team" */
hr {
    border-top: 3px solid #c78c06;
    margin-left: 1rem;
    margin-right: 1rem;
}

#name, #email {
    width: 100%;
    margin-top: .3rem;
    margin-bottom: 1rem;
}

#message {
    width: 100%;
    height: 10rem;
    margin-top: .3rem;
    margin-bottom: 2rem;
}

.contact a {
    font-weight: bold;
    font-size: 1.5rem;
    background-color: #222;
    padding: .3rem;
}

.contact label {
    margin-bottom: 1rem;
}

.hours h2 {
    padding-top: 2rem;
}

table {
    width: 100%;
}

th, td {
    border: 1px solid black;
    padding: 1rem; 
}

th {
    background-color: #ffe6ac;
}
iframe {
    width: 100%;
}

/* styles the footer for the site */
footer {
    background-color: #222;
    color: #c78c06;
    padding: 2rem 1rem 1rem 1rem;
}

/* underlines the "Unsplash" text in the footer */
.underline {
    text-decoration-line: underline;
}

/* Media querie for when the body is greater than or equal to 760px*/
@media screen and (min-width: 760px) {
    
    /* Changes the navbar menu into a row rather than a column */
    header .container {
        display: flex;
        flex-direction: row;
    }
    
    header {
        padding-bottom: 1rem;
    }

    .headerimage {
        background-color: #222;
        margin-right: 4rem;
    }

    .menu {
        width: 100%;
        flex-direction: row;
    }
    
    /* adds flex to the ul items in the navbar in order to place them horizontally*/
    .menu ul {
        background-color:#222;
        width: 100%;
        display: flex;
    }

    .searchbar {
        width: 25%;
        padding: 0;
    }

    .welcome {
        background-position: center;
        background-size: cover;
        align-items: center;
    }

    .welcome-info {
        margin: 0 auto;
    }

    /* adds flex and styles the image in the "about-us" article */
    #about-us {
        display: flex;
        width: 500px;
        height: 300px;
        margin-right: 1rem;
        float: left;
    }

    /* adds flex to and styles the about us article  */
    .about-us {
        display: flex;
        width:100%;
        background-color: #ffe6ac;
        padding: 0;
    }

    /* displays the text in the "about-us" section to the right of the image */
    .about-us-info {
        width: 100%;
        flex-direction: row;
    }

    .marketing {
        margin-top: 0;
    }
    
    /* sets the grid areas for each grid item in the "our-services" section */
    .digital-transformation {grid-area: d;}
    .marketing {grid-area: m;}
    .video-production {grid-area: v;}
    .web-development {grid-area: w;}
    .print {grid-area: p;}

    /* lays out the grid for the "our-services" section */
    .services {
        /* align-items: center; */
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        column-gap: 1rem;
        grid-template-areas:
        "d d d m m m"
        "d d d m m m"
        "v v w w p p"
    }
    
    /* widens and centers all the buttons in the "our-services" section by turning them into block level elements and centers the text within the button */
    .services a {
        display: block;
        text-align: center;
    }
   
    /* styles "learn more" button in the "our-vision" article to better fit the larger view */
    .vision .container > a {
        background-color: rgba(22, 22, 22, 0.7);
        border: 1px solid #c78c06;
        color: white;
        padding: 2rem;
        margin-top: 1rem;
    }

    .vision .container > p {
        margin-bottom: 2rem;
    }

    .our-team {
        display: flex;
    }

    .our-team .container {
        padding: 0rem;
    }

    .bob-rite {
        margin-top: 0;
    }

    /* sets the grid areas for each grid item in the "our-team" section */
    #john {grid-area: e;}
    #bob {grid-area: f;}
    .john-doe {grid-area: w;}
    .bob-rite {grid-area: z;}

    .our-team {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: 
        "e e w w"
        "z z f f"
    }

    /* sets the grid areas for each grid item in the "contact-us" section */
    .contact {grid-area: a;}
    .hours {grid-area: b;}
    .google-maps {grid-area: c;}

    .contact-us {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 1rem;
        grid-template-areas:
        "a a c c"
        "b b b b"
    }
}